body{
background-color: #131315;
width: 100%;
height: 500px;
justify-content: center;
align-items: center;
}


header{
    padding-top: 60px;
    background-color: #1c1e1d;
    width: 100%;
    height: 600px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}
header h1{
    font-weight: 3000;
    padding-top: 100px;
    color: #f6fca0;
    font-size: 4em;
}
.container_typing{
    text-align: center;
    animation:animacion 2.5s steps(35), transparent 0.5s step-end infinite alternate;
    width: 9.6em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
}
@keyframes animacion{
    from{
        width: 0px;
    }
}
@keyframes transparent{
    50%{
        border-color: transparent;
    }
}
header h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    margin-top: 20px;
    justify-content: center;
    margin: auto;
}
header p{
    font-weight: initial;
    padding-top: 50px;
}
header ul{
    padding-top: 30px;
    display: block;
}
header ul li{
    display: inline-block;
    padding: 6px;
}
header a{
    text-decoration: none;
    font-weight: 100;
    font-size: small;
    display: inline-block;
    color: white;
    border-radius: 12px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    background: #16568c;
}
header ul li a:hover{
    background: white;
    color: #16568c;
    font-weight: bold;
}
.imagenes{
    padding-top:60px;
}
.imagenes li{
    display: inline-block;
}
.imagenes img{
    height: 40px;
    width: 40px;
    padding: 10px;
}
nav{
    position: fixed;
    width: 100%;
    margin-top: 0;
    margin-right: 20px;
    float:right;
    color: #ffffff;
    text-decoration: none;
    text-transform:uppercase;
}
nav .perfil{
    display: block;
    float: left;
    margin-left: 90px;
    text-decoration: none;
    text-transform: none;
    color: #7c7c7c;
}
nav .perfil p:nth-of-type(1){
    font-size:larger;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav .enlaces{
    float:right;
    display:block;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}
nav ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: #7c7c7c;
    text-decoration: none;
    text-transform:capitalize;
}
nav ul li a:hover{
    color: black;
    background-color:white ;
    border-radius: 12px;
    padding: 5px;
}

section{
    padding-top:40px;
    margin-left: 90px;
    font-weight: bold;
    font-size:1.2em;
    font-family: Geneva, Tahoma, sans-serif;
}
section p{
    font-weight: normal;
}
section h1{
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #2f3549;
}
section h2{
    padding-top: 15px;
    color: white;
    font-size: 1.4em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section h3{
    text-transform: capitalize;
    color: rgb(239, 200, 146);
}
section article{
    display: block;
    width: 100%;
}
section article p{
    margin-left: 10px;
}
.div_info_section{
    margin-top: 40px;
    background-color: #2b2c2d;
    padding: 30px;
    width: 600px;
    border-radius: 24px;
    color: white;
}
.div_info_section article{
margin-top: 10px;
margin-bottom: 10px;
display:inline-flex;
}

section:nth-of-type(2){
    float: right;
    margin-right: 60px;
}
.sec_skills_pers p{
    width: 100%;
    padding-bottom: 4px;
    border-bottom: 1px solid white;
}


